

<div class="container modif">
    <h3 id="misejourinfo">Mise a jour des informations principales</h3>
    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    <div class="row">

        <div>{{ form_errors(form.username) }}</div>
        <div class="offset-3 col-2 mb-3">{{ form_label(form.username) }}</div>
        <div class="col-7">{{ form_widget(form.username) }}</div>

        <div>{{ form_errors(form.email) }}</div>
        <div class="offset-3 col-2 mb-3">{{ form_label(form.email) }}</div>
        <div class="col-7">{{ form_widget(form.email) }}</div>

        <div>{{ form_errors(form.current_password) }}</div>
        <div class="offset-3 col-2 mb-3">{{ "Password actuel"}}</div>
        <div class="col-7">{{ form_widget(form.current_password) }}</div>

        <div class="offset-5 my-3"><input type="submit" value="{{ 'profile.edit.submit'|trans }}" /></div>

    </div>
        {{ form_end(form) }}

    <div class="row">
        <div class="offset-5 mb-4">
        <button><a href="{{ path('homepage') }}">Retour page d'accueil</a></button>
        </div>
    </div>
</div>