


<div class="container modif">
    <div class="titreinfoperso">
        <h2>Information personnel</h2>
    </div>
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="row fos_user_user_show">

        {# La partie sexe , et la liaison entre les bases user et civilité, en many to one#}
        <div class="userspan offset-2 col-1"><p>{{ 'Civilité' }}:</p></div>
        <div class="col-9"><p>{{ user.civilite.sexe }}</p></div>

        <div class="userspan offset-2 col-1"><p>{{ 'Nom' }}:</p></div>
        <div class="col-2"><p>{{ user.nom }}</p></div>

        <div class="userspan offset-2 col-1"><p>{{ 'Prenom' }}:</p></div>
        <div class="col-4"><p>{{ user.Prenom }}</p></div>

        <div class="userspan offset-2 col-1"><p>{{ 'profile.show.username'|trans }}:</p></div>
        <div class="col-2"><p>{{ user.username }}</p></div>

        <div class="userspan offset-2 col-1"><p>{{ 'profile.show.email'|trans }}:</p></div>
        <div class="col-4"><p>{{ user.email }}</p></div>

        <div class="userspan offset-2 col-1"><p>{{ 'Adresse' }}:</p></div>
        <div class="col-3"><p>{{ user.adresse }}</p></div>

        <div class="userspan offset-1 col-1"><p>{{ 'Ville' }}:</p></div>
        <div class="col-4"><p>{{ user.ville }}</p></div>

        <div class="userspan offset-2 col-2"><p>{{ 'Code postal' }}:</p></div>
        <div class="col-2"><p>{{ user.codepostal }}</p></div>

    {# La partie Role , et la liaison entre les bases user et role, en many to one#}
        <div class="userspan offset-1 col-1"><p>{{ 'Role' }}:</p></div>
        <div class="col-4"><p>{{ user.role.role }}</p></div>

        <div class="groupebutton">
                <div class="mt-5 "><a href="{{ path('suppr_membre_manuel', {'id': user.id}) }}"><button>Supprimer</button></a></div>
                <div class="mx-2 mb-5 mt-5"><a href="{{ path('fos_user_profile_edit') }}"><button>Modifier infos</button></a></div>
                <div class="mt-5"><a href="{{ path('homepage') }}"><button>Retour page d'accueil</button></a></div>
        </div>
    </div>
</div>