{% extends '@App/base/baseAdmin.html.twig' %}




    {% block admin %}
<section>
    <div class="container">
        <div class="formajoutactu">

            <div class="container ajoutactusform my-5 ">
                <div>
                    <h2>Formulaire pour mise a jour des informations </h2>
                </div>
            </div>

            {{ form_start(forminfo) }}
                <div class="row">
                    <div class="offset-3 col-2 mb-3">{{ form_label(forminfo.titre) }}</div>
                    <div class="col-7">{{ form_widget(forminfo.titre) }}</div>

                    <div class="offset-3 col-2 mb-3">{{ form_label(forminfo.contenu) }}</div>
                    <div class="col-7">{{ form_widget(forminfo.contenu) }}</div>
                    <div class="offset-5 col-7 my-3">{{ form_widget(forminfo.save) }}</div>
                </div>
            {{ form_end(forminfo) }}

                <div class="row">
                    <div class="offset-5 col-7 mb-5"><a href="{{ path('liste_information') }}"><button>Retour a la liste</button></a></div>
                </div>
        </div>
    </div>
</section>
    {% endblock %}



