{% extends '@App/base/base.html.twig' %}


{% block content %}
    <section>
        <article>
            <div class="container ">
                <h2 class="titrepresentation">{{ infos.titre }} du club</h2>

                <div class=" d-flex align-items-center textpresentation">
                    <div class="offset-1 col-4 py-5 mr-3 ">
                        <p>{{ infos.contenu }}</p>
                    </div>
                    <div class="offset-2 col-4 mr-3">
                        <div class="row">
                        <div class="imagePresentation"><img src="{{ asset('img/armeEtmasque.jpg') }}" alt="masque et arme" width="100%"></div>
                        <div class="imagePresentation"><img src="{{ asset('img/ancien.jpeg') }}" alt="ancienne photo" class="imagemasuearme" width="100%"></div>
                        </div>
                    </div>
                </div>
        </div>
        </article>
            <div class="container photosalle mb-5">
                <div><img src="{{ asset('img/salle.jpg') }}" alt="Photo de la salle" width="100%"></div>
                <div><img src="{{ asset('img/Sallespuc.jpg') }}" alt="Photo de la salle" width="100%"></div>
            </div>
    </section>

{% endblock %}