{% extends '@App/base/baseAdmin.html.twig' %}



{% block admin %}
    <section>
        <header>
            <div class="container ">
            <h2 class="titreListInfo my-5">Partie qui va mettre a jour les evenements de la page principale</h2>
            </div>
            <div class="ajouteven"><a href="{{ path('form_ajout_even') }}"><button class="boutoneven">Ajouter un évenement</button></a></div>

        </header>
        <article>

            <div class="container mt-3">
                {% for even in evens %}

                    <div class="bloclisteeven bouclelisteeven mb-3">
                        <div class=" my-4"><h3>{{ even.titre }}</h3></div>

                        <h5 class="liaisontypenom">Type : {{ even.type.nom }}</h5>
                        <p>Contenu : {{ even.contenu }}</p>
                        <p>Date : {{ even.date | date("d/m/y") }}</p>

                        <div class="ajoutactus mb-3"><a href="{{ path('suppr_even', {'id': even.id}) }}"><button class="bouton">Suprimer l'actualité</button></a></div>

                    </div>
                {% endfor %}
            </div>


            <div class="ajouteven mb-3"><a href="{{ path('homepage_admin') }}"><button class="boutoneven">Accueil admin</button></a></div>
            <div class="ajouteven mb-5"><a href="#titreeven"><button class="boutoneven">Haut de page</button></a></div>
        </article>

    </section>
{% endblock %}