{% extends '@App/base/baseAdmin.html.twig' %}



{% block admin %}

<h2 class="titreListInfo">Partie qui va mettre a jour les actus de la page principale</h2>

<div class="container">
    <div><a href="{{ path('ajout_actualite') }}"><button>Ajouter une actualité</button></a></div>
    <hr>
    {% for actu in actus %}
        <h3>{{ actu.titre }}</h3>
        <p>{{ actu.contenu }}</p>

{#Nous réalisons une partie pour faire apparaitre une photo si il y en a une#}
        {% if actu.photo %}
            <img src="{{ asset('uploads/images/' ~ actu.photo) }}" alt="image">
        {% else %}
            <p>pas d'image</p>
        {% endif %}





        <hr>

        <div><a href="{{ path('mise_a_jour_actus', {'id': actu.id}) }}"><button>Modifier l'actualité</button></a></div>
        <div><a href="{{ path('suppr_actus', {'id': actu.id}) }}"><button>Suprimer l'actualité</button></a></div>
        <hr>

    {% endfor %}
    <div class="mb-5"><a href="{{ path('homepage_admin') }}"><button>Accueil admin</button></a></div>
</div>


{% endblock %}