

<div class="container modif">
    <h3 id="misejourinfo">Partie inscription</h3>
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="row">
            <div>{{ form_errors(form.civilite) }}</div>
            <div class="offset-3 col-2 mb-3">{{ form_label(form.civilite) }}</div>
            <div class="col-7">{{ form_widget(form.civilite) }}</div>

            <div>{{ form_errors(form.nom) }}</div>
            <div class="offset-3 col-2 mb-3">{{ form_label(form.nom) }}</div>
            <div class="col-7">{{ form_widget(form.nom) }}</div>

            <div>{{ form_errors(form.prenom) }}</div>
            <div class="offset-3 col-2 mb-3">{{ form_label(form.prenom) }}</div>
            <div class="col-7">{{ form_widget(form.prenom) }}</div>

            <div>{{ form_errors(form.username) }}</div>
            <div class="offset-3 col-2 mb-3">{{ form_label(form.username) }}</div>
            <div class="col-7">{{ form_widget(form.username) }}</div>

            <div>{{ form_errors(form.email) }}</div>
            <div class="offset-3 col-2 mb-3">{{ form_label(form.email) }}</div>
            <div class="col-7">{{ form_widget(form.email) }}</div>

            <div>{{ form_errors(form.plainPassword.first) }}</div>
            <div class="offset-3 col-2 mb-3">{{ form_label(form.plainPassword.first)}}</div>
            <div class="col-7">{{ form_widget(form.plainPassword.first) }}</div>

            <div>{{ form_errors(form.plainPassword.second) }}</div>
            <div class="offset-3 col-2 mb-3">{{ form_label(form.plainPassword.second) }}</div>
            <div class="col-7">{{ form_widget(form.plainPassword.second) }}</div>

            <div>{{ form_errors(form.adresse) }}</div>
            <div class="offset-3 col-2 mb-3">{{ form_label(form.adresse) }}</div>
            <div class="col-7">{{ form_widget(form.adresse) }}</div>

            <div>{{ form_errors(form.ville) }}</div>
            <div class="offset-3 col-2 mb-3">{{ form_label(form.ville) }}</div>
            <div class="col-7">{{ form_widget(form.ville) }}</div>

            <div>{{ form_errors(form.code_postal) }}</div>
            <div class="offset-3 col-2 mb-3">{{ form_label(form.code_postal) }}</div>
            <div class="col-7">{{ form_widget(form.code_postal) }}</div>

            <div>{{ form_errors(form.role) }}</div>
            <div class="offset-3 col-2 mb-3">{{ form_label(form.role) }}</div>
            <div class="col-7">{{ form_widget(form.role) }}</div>
    </div>

    <div class="offset-5 my-3">
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}




    <div class="row">
        <div class="offset-5 mb-4">
            <button><a href="{{ path('homepage') }}">Retour page d'accueil</a></button>
        </div>
    </div>


</div>

