<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700" rel="stylesheet">
    <title>Document</title>
</head>
<body>



{#--------------------------------------------------------Barre de navigation en sticky---------------------------------------------------#}

<nav class="barrenav">
{#------------Menu unique avec connexion----------------------#}
    <div class="offset-5 col-2 d-md-none my-1 bob "><a href="{{ path('homepage') }}"><img src="{{ asset('img/logoSPUC.png') }}" alt="logo" class="img-fluid" width="80%"></a></div>

    <div class="row" style="
    margin: 0 !important;
">
        <div class="col-5 d-md-none dropdownALL">
            <p class="btn btn-default dropdown-toggle " id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >

                <span class="caret">Menu general</span>
            </p>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{{ path('le_club_presentation', {'id': 1}) }}">Presentation</a></li>
                <li><a href="{{ path('le_club_presentation', {'id': 2}) }}">Contact</a></li>
                <li><a href="{{ path('le_club_les_horaires') }}">Les horaires</a></li>
                <li><a href="{{ path('les_membres_du_club') }}">Staff</a></li>
                <li><hr></li>
                <li><a href="{{ path('le_sport') }}">Description</a></li>
                <li><a href="{{ path('les_trois_armes') }}">Les trois armes</a></li>
                <li><a href="{{ path('handisport') }}">Handisport</a></li>
                <li><hr></li>
                <li><a href="{{ path('location_materiel') }}">Location</a></li>
                <li><a href="{{ path('licence') }}">Licence</a></li>
                <li><a href="{{ path('lien_utile') }}">Liens utiles</a></li>

            </ul>
        </div>


        {#-----------------------Format tablette et plus------------------------#}
        <div class="d-none d-md-block col-md-2 my-1 col-lg-1 bob dropdown"><a href="{{ path('homepage') }}"><img src="{{ asset('img/logoSPUC.png') }}" alt="logo" class="img-fluid" width="80%"></a></div>
        {#-----------------------groupe menu déroulant------------------------#}
        <div class="d-none d-md-flex offset-md-1 col-md-7 offset-lg-3 col-lg-4 groupenavstick">


                <div class="d-md-none homelogo">
                    <a href="{{ path('homepage') }}"><img src="{{ asset('img/home.png') }}" alt="symbol-home" class="img-fluid dropdown" width="50%"></a>
                </div>

                <div class="dropdown">
                    <p class="btn btn-default dropdown-toggle " id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >

                        <span class="caret">Le club</span>
                    </p>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ path('le_club_presentation', {'id': 1}) }}">Presentation</a></li>
                        <li><a href="{{ path('le_club_presentation', {'id': 2}) }}">Contact</a></li>
                        <li><a href="{{ path('le_club_les_horaires') }}">Les horaires</a></li>
                        <li><a href="{{ path('les_membres_du_club') }}">Staff</a></li>
                    </ul>
                </div>

                <div class="dropdown">
                    <p class="btn btn-default dropdown-toggle couleurDeroul" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                        <span class="caret">L'escrime</span>
                    </p>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ path('le_sport') }}">Description</a></li>
                        <li><a href="{{ path('les_trois_armes') }}">Les trois armes</a></li>
                        <li><a href="{{ path('handisport') }}">Handisport</a></li>
                    </ul>
                </div>

                <div class="dropdown">
                    <p class="btn btn-default dropdown-toggle couleurDeroul" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                        <span class="caret">Info Pratique</span>
                    </p>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ path('location_materiel') }}">Location</a></li>
                        <li><a href="{{ path('licence') }}">Licence</a></li>
                        <li><a href="{{ path('lien_utile') }}">Liens utiles</a></li>
                    </ul>
                </div>
        </div>

{#-----------------menu déroulant pour le profil apres connexion -----------------------#}
        <div class="d-flex col-7 offset-md-4 col-md-4 offset-lg-1 col-lg-3 groupeconnex">
            {% if app.user %}

                <div class="dropdown">
                    <p class="btn btn-default dropdown-toggle couleurDeroul" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ app.user.username }}
                        <span class="caret"></span>
                    </p>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ path('fos_user_profile_show') }}" title="Profil">Informations perso</a></li>
                        <li><hr></li>
                        <li><a href="{{ path('evenement') }}" title="Lien 2">Tous les evenements</a></li>

                        <li><a href="{{ path('info_type', {'id': 1}) }}" title="Lien 2">les Compétitions</a></li>
                        <li><a href="{{ path('info_type', {'id': 2}) }}" title="Lien 2">les Soirées</a></li>
                        <li><a href="{{ path('info_type', {'id': 3}) }}" title="Lien 2">les Réunions</a></li>
                    </ul>
                </div>

{#-----------------menu déroulant pour le profil avant connexion -----------------------#}

                <div class=" mx-md-2 mt-md-2 deconn dropdown"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></div>
            {% else %}
                <div class="mx-2 mr-1 mx-md-2 mt-md-2 deconn dropdown"><a href="{{ path('fos_user_registration_register') }}">Inscription</a></div>
                <div class="mr-2 mx-md-2 mt-md-2 deconn dropdown"><a href="{{ path('fos_user_security_login') }}">Connexion</a></div>
            {% endif %}
        </div>
    </div>
</nav>
{#--------------------------------------------------------Header avec nom du club---------------------------------------------------#}

<header>
    <div class="container-fluid entete">
        <div class="row d-flex align-items-center pt-3">

            <div class="col-12 offset-lg-4 col-lg-4"><h1 class="nomclub">Spuc Escrime</h1></div>
            <div class="d-none d-lg-block offset-lg-2 col-lg-1 my-3"><a href="{{ path('homepage_admin') }}"><img src="{{ asset('img/MMFichier_14.png') }}" alt="logo" class="img-fluid" ></a></div>
        </div>
    </div>
</header>





{% block content %}






{% endblock %}






<footer>
    <div class="container-fluid piedDepage">
        <div class="row d-flex">


            <div class="offset-6 col-5 mt-2 d-flex justify-content-center  groupeTrois ">
                <div class="mx-4"><a href="{{ path('le_club_presentation', {'id': 3}) }}">Mention légales</a></div>
                <div class="mx-4"><a href="{{ path('le_club_presentation', {'id': 4}) }}">Crédit</a></div>
            </div>
        </div>

    </div>
</footer>








<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
<script src="Jquery/jquery-ui.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{{ asset('js/script.js') }}"></script>
</body>
</html>