{% extends '@App/base/base.html.twig' %}



{% block content %}
<section>
    <article>
        <div class="grandeimage">
            <img src="{{ asset('img/image-entete2.jpg') }}" alt="deux escrimeurs" class="imagedeuxSabreurs" width="100%">
        </div>
    </article>

    <article>
        <div class="container my-5 texte">
        <h2>Actualités du club</h2>
        </div>
        <div>
            {% for actu in actus  %}
                <div class="container my-5 pb-3 texte">
                    <h3 class="my-3 actustitre">{{ actu.titre }}</h3>
                        {% if actu.photo %}
                            <div class="imageactus"><img src="{{ asset('uploads/images/' ~ actu.photo) }}" alt="image de l'actualite"  width="100%"></div>
                        {% else %}
                            <p>pas d'image</p>
                        {% endif %}
                    <div class="texteactus mt-4">

                        <p><strong id="texte">{{ actu.titre }} :</strong><br><br><span class="texteactus1">{{ actu.contenu |nl2br }}</span><br><a href="{{ path('affiche_actus', {'id': actu.id}) }}">Lire l'article complet ici</a></p>
                    </div>

                </div>
            {% endfor %}
        </div>
    </article>
</section>
{% endblock %}