{% extends '@App/base/baseAdmin.html.twig' %}


{% block admin %}
<section>
    <nav>
        <div class="container mb-5 ">
            <div class="container menuadmin">
                <div>
                    <h2 class="titreadmin py-4">Menu pour l'administration du site</h2>

                    <div class="row">
                        <div class="offset-1 col-2"><a href="{{ path('liste_inscrit') }}"><button class="admin">Inscrits</button></a></div>
                        <div class="offset-1 col-8"><p>Partie pour la gestion des inscrits, pour la recherche d'utilisateur et sa suppression.</p></div>

                        <div class="offset-1 col-2"><a href="{{ path('liste_even') }}"><button class="admin">Evenements</button></a></div>
                        <div class="offset-1 col-8"><p>Partie pour la gestion des evenements qui vont etre affichés sur les profils des inscrits</p></div>

                        <div class="offset-1 col-2"><a href="{{ path('mise_a_jour_prix', {'id': 1}) }}"><button class="admin">Prix</button></a></div>
                        <div class="offset-1 col-8"><p>Partie pour la mise a jours des différents prix, location du materiel mais aussi licence</p></div>

                        <div class="offset-1 col-2"><a href="{{ path('liste_information') }}"><button class="admin">Informations</button></a></div>
                        <div class="offset-1 col-8"><p>Partie pour la gestion des différentes informations se trouvant dans le site</p></div>

                        <div class="offset-1 col-2 mb-5"><a href="{{ path('liste_actus') }}"><button class="admin">Actualités</button></a></div>
                        <div class="offset-1 col-8"><p>Partie pour la gestion des actualités, nous permettant la mise a jour.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>
{% endblock %}